$white: #FFFAFF;
$lightBlue: #3E92CC;
$deepBlue: #0A2463;
$pink: #D8315B;
$brown: #1E1B18;
$prussian: #172A3A;
$primary: #d09a2d;
$primLight: #fef6a3;
body {
    font-family: 'Playfair Display', serif;
    color: $white;
    background: $prussian;
    padding: 0px;
    margin: 0px;
}

div.grid {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "nav nav nav" "left hero right" "foot foot foot";
    height: 100vh;
}

div.navbar {
    grid-area: nav;
    display: grid;
    // justify-items: center;
    place-content: center;
    font-weight: bold;
    font-size: 24px;
    font-variant-caps: small-caps;
}

div.leftsidebar {
    grid-area: left;
}

div.rightsidebar {
    grid-area: right;
}

div.footer {
    grid-area: foot;
}

div.hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

div.sidebar {
    grid-area: side;
    background: $prussian;
    display: flex;
    justify-content: center;
}

img.dp {
    margin-top: 2vw;
    border-radius: 50%;
    width: clamp(100px, 15vw, 500px);
    height: clamp(100px, 15vw, 500px);
    border-color: $white;
    border-width: 3px;
    border-style: solid;
    // transform: rotate(-5deg);
}